


.timing {


    margin: 0 auto;
    /*display: flex;*/
    background: #ede5fb;
    box-shadow: 5px 5px 5px #CBCFFC, -3px -3px 5px #FFF;
    box-sizing: border-box;
    /*backdrop-filter: blur(6px);*/
    border-radius: 2rem;
    /*cursor: pointer;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;*/
}
/*.timing:hover {
    border: 2px solid #cbcffc;
    transform: scale(1.05);
}
.timing:active {
    transform: scale(0.95) rotateZ(1.7deg);
}*/

.heart {
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url("https://i.postimg.cc/hvnZQWjd/love.png");
    background-size: cover;
    animation: heartbeat 3s infinite;
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    25% {
        transform: scale(0.5);
        box-shadow: none;
    }
    50% {
        transform: scale(1.5);
        box-shadow: none;
    }
    75% {
        transform: scale(0.5);
        box-shadow: none;
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}



.icon {
    width: 50px;
    height: 50px;
    background-image: url('https://i.postimg.cc/mg4ZZtBL/timing.png');
    background-size: cover;
    background-position: center;
}
